*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:initial;
    max-width: 100%;
}

@font-face {
    font-family:'apple';
    src: url(fonts/SF-Pro-Text-Medium.otf) format(opentype);
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.284);
    box-shadow: 0px 1px     rgba(0, 0, 0, 0.079);
}

header nav#global{
    display: flex;
    height: 50px;
    width: 1000px;
    margin: 0 auto;
    
}

nav#global img {
    width: 25px;
    height: 18px;
    padding-top: 14px;
}

header li{
    justify-content: space-around;
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    padding-top: 15px;
    font-family: verdana, Helvetica, sans-serif;
    font-size: 0.7em;
    color: black;
}

header li {
    max-width: 800px;
}



header a{
    color: black;
    font-weight: bold;
}

header nav#product {
    justify-content: space-around;
    width: 1000px;
    height: 50px;
}

div.name {
    width: 1000px;
    justify-content: space-around;
    display: inline-block;
    margin: 0px 269px;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif
}

div.description {
    font-size: 2em;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

div.iphones{
    justify-content: space-around;
    display: block;
    text-align: center;
}

div.iphones img{
    display: block;
    justify-content: space-around;
    margin: 0 auto;
}

div.models {
    display: block;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
}

div.price {
    text-align: center;
    margin-top: 15px;
}
